@import-normalize; /* bring in normalize.css styles */

@font-face {
  font-family: 'Unbounded';
  src: url(../public/fonts/Unbounded/static/Unbounded-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Unbounded';
  src: url(../public/fonts/Unbounded/static/Unbounded-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Unbounded';
  src: url(../public/fonts/Unbounded/static/Unbounded-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

body {
  background: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    center / contain no-repeat url(../public/image/season.png),
    35% url(../public/image/sky-clouds-planet.jpg);
  opacity: 1;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
